div.navbar {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #4ECDC4;
}

div.navbar img {
  text-align: center;
  height: 30px;
}