div.profile-groups-page .profile-group {
  border: 2px solid #FBB13C;
  border-radius: 10px;
  width: 90vw;
  margin-top: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100px;
}

div.profile-groups-page .profile-group a {
  text-decoration: none;
  color: #011627;
}

div.profile-groups-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
  width: 100vw;
}

div.profile-groups-button-container a {
  text-decoration: none;
  margin: 20px 10px;
  height: 60px;
  border: 1px solid #FF3366;
  background-color: #FF3366;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  text-align: center;
  border-radius: 10px;
  color: white;
}

