div.profile-decks {
  min-height: 100vh;
}

div.profile-decks h1 {
  margin: 0;
}

div.profile-decks .profile-decks-banner {
  background: #011627;
  color: #f6f7f8;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  flex-wrap: wrap;
}

div.decks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px 0;
  margin-bottom: 50px;
}

div.profile-decks div.single-deck {
  border: 2px solid #FBB13C;
  border-radius: 5px;
  width: 43vw;
  height: 140px;
  margin: 10px 0;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
}

div.profile-decks .deck-content a {
  text-decoration: none;
  text-align: center;
  color: #011627;
}
