html {
  min-height: 100vh;
  background-color: lavenderblush;
}

div.single-deck-page h1 {
  margin: 0;
  
}

div.single-deck-page .single-deck-banner {
  background-color: yellow;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.single-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.single-flashcard-container {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  margin-bottom: 30px;
  width: 80vw;
  min-height: 250px;
}

 .single-flashcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 250px; */
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.single-flashcard-front, .single-flashcard-back {
  position: absolute;
  flex: 1;
  backface-visibility: hidden;  
}

.single-flashcard-front {
  background-color: black;
  color: white;
  min-height: 250px;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.single-flashcard-back {
  transform: rotateY(180deg);
  background-color: #bbb;
  min-height: 250px;
  width: 80vw;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-flip-motion,
.card-flip-motion .single-flashcard-container {
  transform: rotateY(180deg);
}
