div.single-deck-page h1 {
  margin: 0;
  padding: 0 20px;
}

div.single-deck-page .single-deck-banner {
  background: #011627;
  color: #f6f7f8;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.single-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.single-flashcard-container {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  margin-bottom: 30px;
  width: 80vw;
  min-height: 250px;
}

 .single-flashcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 250px; */
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 10px;
}


.single-flashcard-front, .single-flashcard-back {
  position: absolute;
  backface-visibility: hidden;  
  border-radius: 10px;  
  text-align: center;
}

.single-flashcard-front {
  border: 2px solid #fbb13c;
  min-height: 250px;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.single-flashcard-back {
  transform: rotateY(180deg);
  border: 2px solid #f36;
  min-height: 250px;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-flip-motion,
.card-flip-motion .single-flashcard-container {
  transform: rotateY(180deg);
}

.single-flashcard-back .card-button-container,
.single-flashcard-front .card-button-container {
  display: flex;
  width: 80vw;
  justify-content: space-around;
}

.single-deck-page button {
  background-color: white;
  width: 35vw;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(78, 205, 197, 0.219);
}