.banner p {
  color: #f6f7f8;
  text-decoration: none;
  border: 1px solid #f6f7f8;
  padding: 10px 15px;
  margin-top: 10px;
  font-size: .8rem;
}

.banner p.passcode {
  font-size: 10px;
  padding: 10px 15px;
  margin-top: 10px;
}

.banner-button-container {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.banner-button-container a {
  text-decoration: none;
}

.flashcard-front button,
.flashcard-back button  {
  width: 70px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
} 

.flashcard-front button {
  background-color: #FF3366;
}

.flashcard-back button {
  background-color: #fbb13c;
}

.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  padding: 30px;
}

.saved-message {
  color: white;
  background-color: #fbb13c;
  border-radius: 6px;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 7px 0;
}