div.single-group-page .single-group-banner {
  background-color: yellow;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.group-container {
  display: flex;
  justify-content: center;
}

div.single-group-page .group-flashcard-container {
  /* display: flex; */
  /* justify-content: center; */
  /* margin: 20px 0; */
  margin-bottom: 70px;
  width: 80vw;
  min-height: 250px;
  border: 1px solid black;
}

div.single-group-page .group-flashcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 250px; */
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.group-flashcard-front, .group-flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;  
}

.group-flashcard-front {
  background-color: black;
  color: white;
}

.group-flashcard-back {
  transform: rotateY(180deg);
  background-color: #bbb;
  color: black;
}

.card-flip-motion,
.card-flip-motion .group-flashcard-container {
  transform: rotateY(180deg);
}
